@model IEnumerable<MyMobileTrackerList.Models.MyMobileTracker>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>The time left is <span id="counter"></span>.</p>
<input type = "button" value = "Start" class="PushB" id="btnStart"/>
<p> The current hit count is <span id ="hitcount"></span>.</p>
<input type="button" value="Start" class="PushB" id="btnHitCounter" style="display:none"/>
<p id="infoMessage" style="display:none"> You have <span id="countdowntimer">5 </span> Seconds</p>
<input type="button" value="Refresh" class="PushB" id="btnRefresh"/>

    <table class="table" style="display:block">

<thead>
  <tr>
    <th>ID</th>
    <th>Hit Count</th>
    <th>Email</th>
  </tr>
</thead>
<tbody id="orderBody">
</tbody>
</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>



<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/hitCounter_Darko.js"></script>




